/* TSOS.css */
* {background-color: black; color: #33FF33;}

body {
  /* background: #909193 url(distrib/images/linen.png) repeat; */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: #33FF33;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: #33FF33;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
  text-align: center;

}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: black;
  cursor: default;
  color: #33FF33;
  border: 5px #33FF33;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#Title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}


#outputLog {
  height: 35px;
  background-color: black;
  color: #33FF33;
  border: 5px #33FF33;

}

.textCard {
  height: 35px;
  background-color: black;
  color: #33FF33;
  border: 5px #33FF33;
}

#inputTitle {
  height: 35px;
  background-color: black;

}

.card {
  background-color: black;
  color: #33FF33;
}

#taHostLog {
  border: 5px #33FF33;
  color: #33FF33;

}

#taProgramInput {
  border: 5px #33FF33;
  color: #33FF33;
}

#Topnavbar {
  background-color: black;
  color: #33FF33;
}



#blankline {
  background-color: black;
  color: black;
}


#status {
  align-self: center;
  font-size: 25px;
  padding-left: 120px;
  background-color: black;
}

#btnStartOS{
  background-color: black;
  border: 5px;
}

#startButton{
  position: absolute;
  top: 50%;
  left: 45%;
}

#memTable{
  height: 400px;
  width:447px;
  overflow-y: scroll;
}

@keyframes slideIn {
  from{left: -1000px;}
  to{left: 10px}
  
}