/* TSOS.css */
* {background-color: black; color: #33FF33;}

body {
  /* background: #909193 url(distrib/images/linen.png) repeat; */
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color: black;
  cursor: default;
  color: #33FF33;
  border-color: #33FF33;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#headerRow {
  margin-right: 10px;
  font-size: 20pt;
}

#headerContainer {
  height: 10px;


}

#Title {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 30px;
}


#outputLog {
  height: 35px;
  background-color: black;
  color: #33FF33;

}

#inputTitle {
  height: 35px;
  background-color: black;

}

.card {
  background-color: black;
  color: #33FF33;
}

#taHostLog {
  border: 0px;
  color: #33FF33;
}

#taProgramInput {
  border: 0px;
  color: #33FF33;
}

#Topnavbar {
  background-color: black;
  color: #33FF33;
}

#divConsole {
  color:#33FF33;
  background-color: black;
}

#blankline {
  background-color: black;
  color: black;
}

#status {
  align-self: center;
  font-size: 25px;
  padding-left: 120px;
  background-color: black;
}

#btnStartOS {
  
}